# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.25T2GPG221_JasperStiles1033311.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
